
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto+Condensed:400,700|Roboto:400,700);

@import url(https://fonts.googleapis.com/css?family=Bangers);

@import url("font/flaticon.css");

*{
	margin: 0;
	padding: 0;
}
body{
	background: #f2f1f1;
	font-family: 'Bangers', sans-serif;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: inherit;
}
p{
	padding: 0;
}
span{

}

/*HEADER */


.header{
	width: 100%;
	background: #ca9b1c;
	position: relative;
	box-shadow:0px 0px 0 rgb(178,132,4),1px 1px 0 rgb(163,117,-11),2px 2px 0 rgb(149,103,-25),3px 3px 0 rgb(134,88,-40),4px 4px 0 rgb(120,74,-54),5px 5px 0 rgb(105,59,-69), 6px 6px 0 rgb(91,45,-83),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
	z-index: 10;
}
.header h1{
	padding: 1%;
	font-family: 'Bangers';
	font-size: 4vw;
	float: left;
	color: #c95314;
	text-shadow:0px 0px 0 rgb(177,59,-4),1px 1px 0 rgb(162,44,-19),2px 2px 0 rgb(148,30,-33),3px 3px 0 rgb(133,15,-48),4px 4px 0 rgb(119,1,-62),5px 5px 0 rgb(104,-14,-77), 6px 6px 0 rgb(90,-28,-91),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}
.header h1 a:after{
	content: "Random Dungeon";
}
#lingua-blur{
	background-color: #ccc;
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 2%;
	width: 6%;
	height: 40%;
}
#lingua{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 30px -6px rgba(50, 50, 50, 0.61);
	-moz-box-shadow:    0px 0px 30px -6px rgba(50, 50, 50, 0.61);
	box-shadow:         0px 0px 30px -6px rgba(50, 50, 50, 0.61);
	transition: ease-out 0.4s;
}
#lingua:hover{
	opacity: 0.8;
}
.eng{
	background: url("images/flagen.png");
}
.ita{
	background: url("images/flagita.png");
}

/* FINE HEADER*/

/*COLONNA SX */

.colonna-sx{
	width: 55%;
	background: #88C159;
	position: relative;
}

/* FINE MAIN COLONNA SX */

/*MAIN PULLS */


.toggle-container{
	width: 100%;
	position: relative;
	background: #ca9b1c;
}
.toggle p{
	padding: 0;
}

.toggle1, .toggle2, .toggle3{
	width: 100%;
	position: absolute;
	height: 100%;
	
}

.main{
	width: 90%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 10%;
	background: #ca9b1c;
	box-shadow:0px 0px 0 rgb(178,132,4),1px 1px 0 rgb(163,117,-11),2px 2px 0 rgb(149,103,-25),3px 3px 0 rgb(134,88,-40),4px 4px 0 rgb(120,74,-54),5px 5px 0 rgb(105,59,-69), 6px 6px 0 rgb(91,45,-83),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}

#main1{
}
#main2{
	display: none;
}
#main3{
	display: none;
}

.main, .pull{
	float: left;
}

.pull{
	height: 100%;
	position: relative;
	cursor: pointer;
	-webkit-transition: width 0.1s;
    transition: width 0.1s;
	-ms-writing-mode: tb-rl; 
	background: #ca9b1c;
	text-align: center;
	box-shadow:0px 0px 0 rgb(178,132,4),1px 1px 0 rgb(163,117,-11),2px 2px 0 rgb(149,103,-25),3px 3px 0 rgb(134,88,-40),4px 4px 0 rgb(120,74,-54),5px 5px 0 rgb(105,59,-69), 6px 6px 0 rgb(91,45,-83),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}

.pull span{
	font-size: 2em;
	position: relative;
	top: 5%;
}

#pull1:hover, #pull2:hover, #pull3:hover{
	width: 12%;
}

#pull1{
	z-index: 10;
	width: 10%;
}
#pull2{
	top: 15%;
	z-index: 20;
	width: 9%;
}
#pull3{
	top: 30%;
	z-index: 30;
	width: 8%;
}

#pull3 span{
	 font-weight: bold;
}

#mappa-container, #quest-container, #inventario-container{
	width: 100%;
	height: 100%;
	position:relative;
}

#mappa-container h2, #quest-container h2, #inventario-container h2{
	font-size: 5em;
}

/* FINE MAIN PULLS */

/*INVENTARIO*/


#inventarioNome {
	right: 35%;
	position: absolute;
	top: -25%;
	font-size: 2.5vw;
	color: #c95314;
	text-shadow:0px 0px 0 rgb(177,59,-4),1px 1px 0 rgb(162,44,-19),2px 2px 0 rgb(148,30,-33),3px 3px 0 rgb(133,15,-48),4px 4px 0 rgb(119,1,-62),5px 5px 0 rgb(104,-14,-77), 6px 6px 0 rgb(90,-28,-91),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}

#equipaggiamentoNome {
	right: -12%;
	top:-25%;
	position: absolute;
	font-size: 2.5vw;
	color: #c95314;
	text-shadow:0px 0px 0 rgb(177,59,-4),1px 1px 0 rgb(162,44,-19),2px 2px 0 rgb(148,30,-33),3px 3px 0 rgb(133,15,-48),4px 4px 0 rgb(119,1,-62),5px 5px 0 rgb(104,-14,-77), 6px 6px 0 rgb(90,-28,-91),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}

#inventario, #equipaggiamento{
	position: absolute;
	height: 60%;
	top:20%;
}
#inventario{	
	right: 5%;
	width: 65%;
	box-shadow:0px 0px 0 rgb(178,132,4),1px 1px 0 rgb(163,117,-11),2px 2px 0 rgb(149,103,-25),3px 3px 0 rgb(134,88,-40),4px 4px 0 rgb(120,74,-54),5px 5px 0 rgb(105,59,-69), 6px 6px 0 rgb(91,45,-83),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}
#equipaggiamento{
	position: relative;
	width: 25%;
}
#ulInventario{
	list-style-type: none;
	width: 100%;
	height:100%;
}

.equip{
	position: absolute;
	list-style-type: none;
	height: 3.5em;
	width:3.5em;
	box-shadow:0px 0px 0 rgb(178,132,4),1px 1px 0 rgb(163,117,-11),2px 2px 0 rgb(149,103,-25),3px 3px 0 rgb(134,88,-40),4px 4px 0 rgb(120,74,-54),5px 5px 0 rgb(105,59,-69), 6px 6px 0 rgb(91,45,-83),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}

.icona-equip{
	position: absolute;
	z-index: 1;
	font-size: 3em;
	opacity: 0.2;
	margin: 2px 4px;
}

.area-testa{	
	right: 5%
}
.area-corpo{	
	right: 5%;
	top: 100%;
}
.area-manoDx{	
	right: 5%;
	top: 33%;
}
.area-manoSx{	
	right: 5%;
	top: 66%;
}
.slot{
	float: left;
	height: 3.5em;
	width:3.5em;
	z-index: 2;
}
.imgSlot{
	width: 100%;
	height: 100%;
	font-size: 2.8em;
    position: relative;
	top: 0px;
	left:0px;
	z-index: 9;
	transition: 0.5s;
}

.imgSlot span{
	width: 100%;
	height: 100%;
	float: right;
	z-index: 8;
	transition: 0.5s;
}

.imgSlot span:hover{
	-webkit-box-shadow: inset 0px 0px 0px 0px rgba(202,155,28,0.5);
-moz-box-shadow: inset 0px 0px 0px 0px rgba(202,155,28,0.5);
box-shadow: inset 0px 0px 0px 0px rgba(202,155,28,0.5);
}

.imgSlot:hover {
	background: #ca9b1c;
	box-shadow:0px 0px 0 rgb(178,132,4),1px 1px 0 rgb(163,117,-11),2px 2px 0 rgb(149,103,-25),3px 3px 0 rgb(134,88,-40),4px 4px 0 rgb(120,74,-54),5px 5px 0 rgb(105,59,-69), 6px 6px 0 rgb(91,45,-83),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
	top: -4px;
	left:-4px;
	z-index: 20;
}
.info{
	background-color: #010101;
	color: #fff;
	border-radius: 5px;
	padding: 5px;
	width: 100px;
	position: absolute;
	margin-left: -26px;
	z-index: 8;
	font-size: 1em;
	opacity: 0;
	transition: opacity 0.5s;
	text-align: center;
	text-transform: capitalize;
}
.imgSlot:hover + div .info{
 	opacity: 1;
 	z-index: 100;
}
.info p{
	margin: 0;
	padding: 0;
	text-indent: 0;
}

/* FINE INVENTARIO */

/*ARENA */

#arena{
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 40;
	background: #ddd;
	-webkit-box-shadow: 0px -5px 25px 0px rgba(50, 50, 50, 0.35);
	-moz-box-shadow:    0px -5px 25px 0px rgba(50, 50, 50, 0.35);
	box-shadow:         0px -5px 25px 0px rgba(50, 50, 50, 0.35);
}

.stats-eroe, .stats-mostro{
	height: 100%;
	position: absolute;
	bottom: 0;
}
.stats-mostro{
	right: 0;
	width: 45%;
}
.stats-eroe{
	left: 0;
	width: 55%;
}
.stats-eroe h3, .stats-mostro h3{
	clear: both;
	margin:0 50px;
	text-transform: capitalize;
	font-size: 2em;
	color: #222;
	text-shadow:0px 0px 0 rgb(185,185,185),1px 1px 0 rgb(170,170,170),2px 2px 0 rgb(156,156,156),3px 3px 0 rgb(141,141,141),4px 4px 0 rgb(127,127,127),5px 5px 0 rgb(112,112,112), 6px 6px 0 rgb(98,98,98),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}

.stats-eroe h3{
	float: right;
}

.stats-mostro h3{
	float: left;
}

.numeri-eroe, .numeri-mostro{
	font-size: 1em;
	margin: 5px;
	color: #222;
	background: #f2f1f1;
	box-shadow:0px 0px 0 rgb(231,231,231),1px 1px 0 rgb(216,216,216),2px 2px 0 rgb(202,202,202),3px 3px 0 rgb(187,187,187),4px 4px 0 rgb(173,173,173),5px 5px 0 rgb(158,158,158), 6px 6px 0 rgb(144,144,144),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}

.numeri-eroe{
	float: right;
}

.numeri-mostro{
	float: left;
}

.numeri-eroe ul{
	float: right;
	margin: 5px;
}

.numeri-mostro ul{
	float: right;
	margin: 5px 0;
}
.numeri-mostro ul li, .numeri-eroe ul li{
	 display: inline-block;
	 float: right;
	 text-align: center;
	 margin: 0 10px;
}

.salute-bar, .salute-mostro-bar{
	height: 15px;
	background: red;
}

.salute-bar{
	float: right;
}

.salute-mostro-bar{
	float: left;
}	
#salute-max, #salute-mostro-max{
	width:95%;
	margin: 5px;
	overflow: hidden;
	background: #cbbcbb;
	box-shadow:0px 0px 0 rgb(179,164,163),1px 1px 0 rgb(164,149,148),2px 2px 0 rgb(150,135,134),3px 3px 0 rgb(135,120,119),4px 4px 0 rgb(121,106,105),5px 5px 0 rgb(106,91,90), 6px 6px 0 rgb(92,77,76),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}
#salute-max{
	float: right;
}
#salute-mostro-max{
	float: left;
}
#salute-max, #salute-mostro-max{
	margin-top: 5px;
}

/* FINE ARENA */

/*BOTTONI BASSI COLONNA SX*/

#scelta-nome{
	width:50%;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 40;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	background: #ca9b1c;
	box-shadow:0px 0px 0 rgb(178,132,4),1px 1px 0 rgb(163,117,-11),2px 2px 0 rgb(149,103,-25),3px 3px 0 rgb(134,88,-40),4px 4px 0 rgb(120,74,-54),5px 5px 0 rgb(105,59,-69), 6px 6px 0 rgb(91,45,-83),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}
#scelta-nome input{
	font-family: 'Bangers', sans-serif;
	width:90%;
	border: none;
	color: #fff;
	font-size: 2vw;
	font-weight: bold;
	line-height: 300%;
	text-transform: capitalize;
	background-color: transparent;
	text-shadow: 2px 1px 5px rgba(0, 0, 0, 1);
	border-radius: 0;
	margin: 4% 6%;
	
}
input:focus {
    outline: none !important;
}
::-webkit-input-placeholder {
    color: #66ff99;
	text-transform: none;
	font-weight: normal;
	text-shadow: 2px 1px 5px rgba(0, 0, 0, 1);
}
input:placeholder-shown { 
  color: #66ff99;
	text-transform: none;
	font-weight: normal;
	text-shadow: 2px 1px 5px rgba(0, 0, 0, 1);
}

#bottone-start{
	font-family: 'Bangers', sans-serif;
	width: 50%;
	position:absolute;
	bottom: 0;
	left:0;
	z-index: 40;
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    font-size: 3vw;
	line-height: 200%;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.bottone-verde{
	background-color: #0073e6;
	border: 10px solid #0073e6;
	color: white;
}
.bottone-verde:hover{
	background-color: white; /* Green */
    color: #0073e6;
}
.bottone-rosso{
	background-color: #e60000;
	border: 10px solid #e60000;
	color: black;
}

/* BOTTONI BASSI COLONNA SX */

/*GIOCO*/

#gioco{
	position: absolute;
	top: 0;
	right: 0;
	width: 45%;
}
#area-log{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height:95%;
	width:95%;
	overflow: auto;
}

/* FINE GIOCO */

/*POPUP FINE DUNGEON*/

#alert-villaggio{
	background: #eee;
	display: none;
}
.ui-dialog{
	height: 300px;
	width: 300px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateY(-50%);
	background: #eaeaea;
	border-radius: 5px;
	border: solid 2px #999;
}
.ui-dialog-title{
	margin: 1em;
}
.no-close .ui-dialog-titlebar-close {
  display: none;
}
.ui-button{
	height: 30px;
	border-radius: 5px;
	margin-bottom: 0.1em;
}
.ui-dialog-buttonset .ui-button:last-child{
	float: right;
	margin-right: 0.1em;
}	

/* FINE POPUP FINE DUNGEON */

/* TASTO FULLSCREEN */

#fullscreen {
    position: absolute;
    z-index: 10;
	top: 20px;
	right: 20px;
    width: 30px;
    height: 20px;
    margin: 20px;
    /*border: 1px solid #000;*/
    cursor: pointer;
    transition: ease-out 0.2s;
}
#fullscreen:hover{
	padding: 5px;
	top: 15px;
	right: 15px;
}
#fullscreen:before {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: -10px;
    left: -10px;
    border-top: 2px solid #999;
    border-left: 2px solid #999;
}
#fullscreen:after {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: -10px;
    right: -10px;
    border-top: 2px solid #999;
    border-right: 2px solid #999;
}
#fullscreen span:before {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -10px;
    left: -10px;
    border-bottom: 2px solid #999;
    border-left: 2px solid #999;
}
#fullscreen span:after {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -10px;
    right: -10px;
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
}

/* FINE TASTO FULSCREEN */

/*FOOTER*/

.footer-pull{
	width: 100%;
	height: 20px;
	position: absolute;
	bottom: 0;
	background: #222;
	z-index: 10;
	color: #999;
}
.footer-pull span{
	font-size: 0.7em;
	padding-left: 2em;
}
.triangolo{
	position: absolute;
	bottom: 20px;
	right: 0;
	left: 0;
	z-index: 10;
	margin: 0 auto;
	width: 0;
	height: 0;
	border-bottom: 5px solid #222;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}
footer{
	width: 100%;
	height: 30%;
	background: #222;
	position: absolute;
	bottom: 0;
	z-index: 10;
	color: #bbb;
	display: none;
}
.triangolo-down{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	width: 0;
	height: 0;
	border-top: 5px solid #999;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}
.footer-content{
	width: 100%;
	height: 100%;
	/*background: black;*/
	position: absolute;
	bottom: 0;
}
.footer-column{
	width: 33%;
	height: 100%;
	float: left;
}
.footer-column p{
	text-indent: 0;
	font-size: 0.8em;
	padding: 1em;
}
.footer-column h3{
	padding: 1em 0.7em 0;
	color: #eaeaea;
}
.footer-logo{
	width: 60%;
	height: 50%;
	background: #666;
	margin: 20px auto;

}
.paypal{
	/*position: absolute;
	bottom: 30px;*/
	height: 50px;
	text-align: center;
}
.paypal img{
	width: 20%;
}
.paypal img, .paypal p{
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/*FINE FOOTER*/

/* COLORI  */


.cura{
	color: #e60000;
	text-shadow:0px 0px 0 rgb(206,-24,-24),1px 1px 0 rgb(191,-39,-39),2px 2px 0 rgb(177,-53,-53),3px 3px 0 rgb(162,-68,-68),4px 4px 0 rgb(148,-82,-82),5px 5px 0 rgb(133,-97,-97), 6px 6px 0 rgb(119,-111,-111),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}
.rame{
	color: #C87533;
	text-shadow:0px 0px 0 rgb(176,94,27),1px 1px 0 rgb(161,79,12),2px 2px 0 rgb(147,65,-2),3px 3px 0 rgb(132,50,-17),4px 4px 0 rgb(118,36,-31),5px 5px 0 rgb(103,21,-46), 6px 6px 0 rgb(89,7,-60),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}
.bronzo{
	color: #994d00;
	text-shadow:0px 0px 0 rgb(129,53,-24),1px 1px 0 rgb(114,38,-39),2px 2px 0 rgb(100,24,-53),3px 3px 0 rgb(85,9,-68),4px 4px 0 rgb(71,-5,-82),5px 5px 0 rgb(56,-20,-97), 6px 6px 0 rgb(42,-34,-111),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}
.ferro{
	color: #D1D2D5;
	text-shadow:0px 0px 0 rgb(185,186,189),1px 1px 0 rgb(170,171,174),2px 2px 0 rgb(156,157,160),3px 3px 0 rgb(141,142,145),4px 4px 0 rgb(127,128,131),5px 5px 0 rgb(112,113,116), 6px 6px 0 rgb(98,99,102),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}
.acciaio{
	color: #b0c4de;
	text-shadow:0px 0px 0 rgb(152,172,198),1px 1px 0 rgb(137,157,183),2px 2px 0 rgb(123,143,169),3px 3px 0 rgb(108,128,154),4px 4px 0 rgb(94,114,140),5px 5px 0 rgb(79,99,125), 6px 6px 0 rgb(65,85,111),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}
.ethernite{
	color: #b3ffd9;
	text-shadow:0px 0px 0 rgb(155,231,193),1px 1px 0 rgb(140,216,178),2px 2px 0 rgb(126,202,164),3px 3px 0 rgb(111,187,149),4px 4px 0 rgb(97,173,135),5px 5px 0 rgb(82,158,120), 6px 6px 0 rgb(68,144,106),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}
.scarsa{
	-webkit-box-shadow: inset 0px 0px 0px 4px rgba(99,50,12,0.5);
	-moz-box-shadow: inset 0px 0px 0px 4px rgba(99,50,12,0.5);
	box-shadow: inset 0px 0px 0px 4px rgba(99,50,12,0.5);
}
.normale{
	-webkit-box-shadow: inset 0px 0px 0px 4px rgba(255,239,138,0.5);
	-moz-box-shadow: inset 0px 0px 0px 4px rgba(255,239,138,0.5);
	box-shadow: inset 0px 0px 0px 4px rgba(255,239,138,0.5);
}
.buona{
	-webkit-box-shadow: inset 0px 0px 0px 4px rgba(95,217,95,0.5);
	-moz-box-shadow: inset 0px 0px 0px 4px rgba(95,217,95,0.5);
	box-shadow: inset 0px 0px 0px 4px rgba(95,217,95,0.5);
}
.eccellente{
	-webkit-box-shadow: inset 0px 0px 0px 4px rgba(138,255,249,0.5);
	-moz-box-shadow: inset 0px 0px 0px 4px rgba(138,255,249,0.5);
	box-shadow: inset 0px 0px 0px 4px rgba(138,255,249,0.5);
}
.perfetta{
	-webkit-box-shadow: inset 0px 0px 0px 4px rgba(255,255,255,0.5);
	-moz-box-shadow: inset 0px 0px 0px 4px rgba(255,255,255,0.5);
	box-shadow: inset 0px 0px 0px 4px rgba(255,255,255,0.5);
}
.rosso{
	color: red;
}
.rossoCrit {
	color: maroon;
}
.viola{
	color: purple;
}
.verde{
	color: green;
}
.blu{
	color: blue;
}
.arancione{
	color: orange;
}
.giallo{
	color: yellow;
}
.nero{
	color: black;
}
.bold{
	font-weight: bold;
}
.bgBianco{		
	background-color: #fff;		
}
.titolo-livello{
	font-weight: bold;
	font-size: 2em;
	text-indent: 0;
	margin-top: 10px;
}
.morto{
	font-size: 1.5em;
	color: red;
	margin-top: 1em;
}
.loot{
	font-size: 1.3em;
	margin-top: 1em;
}
.incontro{
	font-size: 1.5em;
	margin-top: 1em;
}

.azione{
	font-size: 1.3em;
	margin-left: 0.5em;
	margin-top: 1em;
}

.criticoTxt{
	font-size: 1.2em;
}

.header-red{
	background: #ef4410;
}
.colonna-sx-red{
	background: #f27d3e;
}

.rapporto{
	text-decoration: underline;
}