
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto+Condensed:400,700|Roboto:400,700);
@import url("font/flaticon.css");

body{
	margin: 0;
	background: #f2f1f1;
	font-family: 'Roboto', sans-serif;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: inherit;
}
p{
	margin: 0;
	padding: 0.1em;
	text-transform: capitalize;
	text-indent: 20px;
}
span{
	font-size: 1.3em;
	text-transform: capitalize;
	text-indent: 20px;
}
.colonna-sx{
	width: 40%;
	height: 100%;
	background: #88C159;
	float: left;
	overflow: hidden;
	position: relative;
}
.colonna-sx h3{
	margin: 10px 0px 10px 10px;
}
.header{
	float: left;
	width: 100%;
	height: 10%;
	background: #2A7F00;
	-webkit-box-shadow: 0px 5px 12px 0px rgba(50, 50, 50, 0.55);
	-moz-box-shadow:    0px 5px 12px 0px rgba(50, 50, 50, 0.55);
	box-shadow:         0px 5px 12px 0px rgba(50, 50, 50, 0.55);
}
.header h1{
	margin: 0;
	line-height: 100px;
	padding-left: 10%;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2.2em;
}
.header h1 a:after{
	content: "Random Dungeon";
}
.main{
	float: left;
	width: 100%;
	height: 60%;
}
#inventario, #equipaggiamento{
	margin: 10px auto 10px;
	width: 96%;
	background-color: #ccc;
	-webkit-box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.6);
	box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.6);
}
#inventario{	
	min-height: 84px;
}
#equipaggiamento{
	height: 42px;
}
.slot{
	float: left;
	width: 40px;
	height: 40px;
	border: solid 1px #222;
	cursor: pointer;
	
}
.slot img{
	width: 40px;
	height: 40px;
	position: relative;
	top: 0px;
	left:0px;
	z-index: 20;
	background-color: #ddd;
	transition: background-color 0.5s;
}
.slot img:hover {
	background-color: #fff;
}
.slot img:hover + .info{
	opacity: .8;
	z-index: 30;
}
.info{
	background-color: #010101;
	color: #fff;
	border-radius: 5px;
	padding: 0px 5px 5px 0px;
	width: 100px;
	position: relative;
	top: -44px;
	left: 40px;
	z-index: 10;
	font-size: 0.8em;
	margin: 0 auto;
	opacity: 0;
	transition: opacity 0.5s;
	text-align: center;
}
.info p{
	margin: 0;
	padding: 0;
	text-indent: 0;
}
#scelta-nome{
	float: left;
	width:96%;
	margin-left: 10px;
	margin-top: 20px;
}
#scelta-nome input{
	width:100%;
	border: none;
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: capitalize;
	background-color: transparent;
	text-shadow: 2px 1px 5px rgba(0, 0, 0, 1);
}
input:focus {
    outline: none !important;
}
::-webkit-input-placeholder {
    color: #66ff99;
	text-transform: none;
	font-weight: normal;
	text-shadow: 2px 1px 5px rgba(0, 0, 0, 1);
}
input:placeholder-shown { 
  color: #66ff99;
	text-transform: none;
	font-weight: normal;
	text-shadow: 2px 1px 5px rgba(0, 0, 0, 1);
}
.stats1, .stats2{
	float: left;
	width:45%;
	line-height: 25px;
	margin: 20px 10px 20px 10px;
	background: #f2f1f1;
	-webkit-box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.6);
	box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.6);
}
.stats1 ul, .stats2 ul{
	margin-left: 12px;
}
.stats1 ul li, .stats2 ul li{
	 margin-top: 5px;
	 margin-bottom: 5px;
}
.attacco:after{
	content: "Attacco:";
}
.difesa:after{
	content: "Difesa:";
}
.salute:after{
	content: "Salute:";
}
.mana:after{
	content: "Mana:";
}
.critico:after{
	content: "Critico:";
}
.monete:after{
	content: "Monete:";
}
#salute-bar{
	float: left;
	height: 20px;
	background: red;
	float: left;
}
#salute-max{
	float: left;
	width:96%;
	margin-left: 10px;
	overflow: hidden;
	background: #cbb;
	-webkit-box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.6);
	box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.6);
}
#bottone-start{
	width: 100%;
	height: 20%;
	position:absolute;
	bottom: 0;
	left:0;
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    font-size: 48px;
	line-height:0px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.bottone-verde{
	background-color: #0073e6;
	border: 10px solid #0073e6;
	color: white;
}
.bottone-verde:hover{
	background-color: white; /* Green */
    color: #0073e6;
}
.bottone-rosso{
	background-color: #e60000;
	border: 10px solid #e60000;
	color: black;
}
#gioco{
	position: absolute;
	top: 0;
	right: 0;
	width: 60%;
	background: #f2f1f1;
	/*margin-top: 100px;*/
	overflow: auto;
}
#gioco p{
	margin-left: 10px;
	font-family: 'Roboto Mono';
	font-size: 0.9em;
}
#arena{
	width: 60%;
	position: absolute;
	bottom: 0;
	right: 0;
	background: #ddd;
	-webkit-box-shadow: 0px -5px 25px 0px rgba(50, 50, 50, 0.35);
	-moz-box-shadow:    0px -5px 25px 0px rgba(50, 50, 50, 0.35);
	box-shadow:         0px -5px 25px 0px rgba(50, 50, 50, 0.35);
}
#alert-villaggio{
	background: #eee;
	display: none;
}
.ui-dialog{
	height: 300px;
	width: 300px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateY(-50%);
	background: #eaeaea;
	border-radius: 5px;
	border: solid 2px #999;
}
.ui-dialog-title{
	margin: 1em;
}
.no-close .ui-dialog-titlebar-close {
  display: none;
}
.ui-button{
	height: 30px;
	border-radius: 5px;
	margin-bottom: 0.1em;
}
.ui-dialog-buttonset .ui-button:last-child{
	float: right;
	margin-right: 0.1em;
}	

/*


@media all and (max-width: 699px){
	*{
		margin: 0;
		padding: 0;
	}
	p{
		text-indent: 10px;
	}
	.header h1 a:after{
		content: "R.D";
		font-size: 2.2em;
	}
	#bottone-start{
		height: 100px;
	}
	#attacco:before{
		content: "A:";
	}
	#difesa:before{
		content: "D:";
	}
	#salute-bar{
		display: none;
	}
	.stats{
		width: 120px;
	}
	.info{
		display: none;
	}
}
@media all and (min-width: 700px){

	
}

*/

/* COLORI  */
.rosso{
	color: red;
}
.viola{
	color: purple;
}
.verde{
	color: green;
}
.blu{
	color: blue;
}
.arancione{
	color: orange;
}
.titolo-livello{
	font-weight: bold;
	font-size: 1.2em;
	text-indent: 0;
	margin-top: 10px;
}
.risultato-scontro{
	font-weight: bold;
}
.morto{
	font-weight: bold;
	color: red;
}

.header-red{
	background: #ef4410;
}
.colonna-sx-red{
	background: #f27d3e;
}

.rapporto{
	text-decoration: underline;
}
