    /*
    Flaticon icon font: Flaticon
    Creation date: 06/03/2016 04:03
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-accampamento:before { content: "\f100"; }
.flaticon-accetta:before { content: "\f101"; }
.flaticon-alabarda:before { content: "\f102"; }
.flaticon-arco:before { content: "\f103"; }
.flaticon-armatura-borchiata:before { content: "\f104"; }
.flaticon-armatura-completa:before { content: "\f105"; }
.flaticon-armatura-cuoio:before { content: "\f106"; }
.flaticon-armatura-imbottita:before { content: "\f107"; }
.flaticon-armatura-pelle:before { content: "\f108"; }
.flaticon-armatura-piastre:before { content: "\f109"; }
.flaticon-armatura-tunica:before { content: "\f10a"; }
.flaticon-ascia:before { content: "\f10b"; }
.flaticon-attacco:before { content: "\f10c"; }
.flaticon-bussola:before { content: "\f10d"; }
.flaticon-castello:before { content: "\f10e"; }
.flaticon-corpo:before { content: "\f10f"; }
.flaticon-critico:before { content: "\f110"; }
.flaticon-daga:before { content: "\f111"; }
.flaticon-difesa:before { content: "\f112"; }
.flaticon-falchion:before { content: "\f113"; }
.flaticon-gladio:before { content: "\f114"; }
.flaticon-infranto:before { content: "\f115"; }
.flaticon-intero:before { content: "\f116"; }
.flaticon-inventario:before { content: "\f117"; }
.flaticon-kama:before { content: "\f118"; }
.flaticon-katana:before { content: "\f119"; }
.flaticon-kirpan:before { content: "\f11a"; }
.flaticon-lancia:before { content: "\f11b"; }
.flaticon-mana:before { content: "\f11c"; }
.flaticon-manganello:before { content: "\f11d"; }
.flaticon-mano:before { content: "\f11e"; }
.flaticon-mano-occupata:before { content: "\f11f"; }
.flaticon-mappa:before { content: "\f120"; }
.flaticon-martello:before { content: "\f121"; }
.flaticon-mazza:before { content: "\f122"; }
.flaticon-monete:before { content: "\f123"; }
.flaticon-nunchaku:before { content: "\f124"; }
.flaticon-pala:before { content: "\f125"; }
.flaticon-pelle:before { content: "\f126"; }
.flaticon-peso:before { content: "\f127"; }
.flaticon-piccone:before { content: "\f128"; }
.flaticon-pugnale:before { content: "\f129"; }
.flaticon-quest:before { content: "\f12a"; }
.flaticon-roll:before { content: "\f12b"; }
.flaticon-salute:before { content: "\f12c"; }
.flaticon-schivata:before { content: "\f12d"; }
.flaticon-scimitarra:before { content: "\f12e"; }
.flaticon-scudo-asimmetrico:before { content: "\f12f"; }
.flaticon-scudo-buckler:before { content: "\f130"; }
.flaticon-scudo-elfico:before { content: "\f131"; }
.flaticon-scudo-grande:before { content: "\f132"; }
.flaticon-scudo-lama:before { content: "\f133"; }
.flaticon-scudo-medio:before { content: "\f134"; }
.flaticon-scudo-nanico:before { content: "\f135"; }
.flaticon-scudo-piccolo:before { content: "\f136"; }
.flaticon-scudo-rinforzato:before { content: "\f137"; }
.flaticon-scudo-runico:before { content: "\f138"; }
.flaticon-scudo-scaglie:before { content: "\f139"; }
.flaticon-scudo-spinato:before { content: "\f13a"; }
.flaticon-scudo-torre:before { content: "\f13b"; }
.flaticon-scudo-umano:before { content: "\f13c"; }
.flaticon-spada:before { content: "\f13d"; }
.flaticon-spada-bastarda:before { content: "\f13e"; }
.flaticon-spada-incantata:before { content: "\f13f"; }
.flaticon-spadone:before { content: "\f140"; }
.flaticon-stiletto:before { content: "\f141"; }
.flaticon-tempo:before { content: "\f142"; }
.flaticon-testa-1:before { content: "\f143"; }
.flaticon-testa-2:before { content: "\f144"; }
.flaticon-testa-cappello:before { content: "\f145"; }
.flaticon-testa-elmo:before { content: "\f146"; }
.flaticon-torcia:before { content: "\f147"; }
.flaticon-tridente:before { content: "\f148"; }
    
    $font-Flaticon-accampamento: "\f100";
    $font-Flaticon-accetta: "\f101";
    $font-Flaticon-alabarda: "\f102";
    $font-Flaticon-arco: "\f103";
    $font-Flaticon-armatura-borchiata: "\f104";
    $font-Flaticon-armatura-completa: "\f105";
    $font-Flaticon-armatura-cuoio: "\f106";
    $font-Flaticon-armatura-imbottita: "\f107";
    $font-Flaticon-armatura-pelle: "\f108";
    $font-Flaticon-armatura-piastre: "\f109";
    $font-Flaticon-armatura-tunica: "\f10a";
    $font-Flaticon-ascia: "\f10b";
    $font-Flaticon-attacco: "\f10c";
    $font-Flaticon-bussola: "\f10d";
    $font-Flaticon-castello: "\f10e";
    $font-Flaticon-corpo: "\f10f";
    $font-Flaticon-critico: "\f110";
    $font-Flaticon-daga: "\f111";
    $font-Flaticon-difesa: "\f112";
    $font-Flaticon-falchion: "\f113";
    $font-Flaticon-gladio: "\f114";
    $font-Flaticon-infranto: "\f115";
    $font-Flaticon-intero: "\f116";
    $font-Flaticon-inventario: "\f117";
    $font-Flaticon-kama: "\f118";
    $font-Flaticon-katana: "\f119";
    $font-Flaticon-kirpan: "\f11a";
    $font-Flaticon-lancia: "\f11b";
    $font-Flaticon-mana: "\f11c";
    $font-Flaticon-manganello: "\f11d";
    $font-Flaticon-mano: "\f11e";
    $font-Flaticon-mano-occupata: "\f11f";
    $font-Flaticon-mappa: "\f120";
    $font-Flaticon-martello: "\f121";
    $font-Flaticon-mazza: "\f122";
    $font-Flaticon-monete: "\f123";
    $font-Flaticon-nunchaku: "\f124";
    $font-Flaticon-pala: "\f125";
    $font-Flaticon-pelle: "\f126";
    $font-Flaticon-peso: "\f127";
    $font-Flaticon-piccone: "\f128";
    $font-Flaticon-pugnale: "\f129";
    $font-Flaticon-quest: "\f12a";
    $font-Flaticon-roll: "\f12b";
    $font-Flaticon-salute: "\f12c";
    $font-Flaticon-schivata: "\f12d";
    $font-Flaticon-scimitarra: "\f12e";
    $font-Flaticon-scudo-asimmetrico: "\f12f";
    $font-Flaticon-scudo-buckler: "\f130";
    $font-Flaticon-scudo-elfico: "\f131";
    $font-Flaticon-scudo-grande: "\f132";
    $font-Flaticon-scudo-lama: "\f133";
    $font-Flaticon-scudo-medio: "\f134";
    $font-Flaticon-scudo-nanico: "\f135";
    $font-Flaticon-scudo-piccolo: "\f136";
    $font-Flaticon-scudo-rinforzato: "\f137";
    $font-Flaticon-scudo-runico: "\f138";
    $font-Flaticon-scudo-scaglie: "\f139";
    $font-Flaticon-scudo-spinato: "\f13a";
    $font-Flaticon-scudo-torre: "\f13b";
    $font-Flaticon-scudo-umano: "\f13c";
    $font-Flaticon-spada: "\f13d";
    $font-Flaticon-spada-bastarda: "\f13e";
    $font-Flaticon-spada-incantata: "\f13f";
    $font-Flaticon-spadone: "\f140";
    $font-Flaticon-stiletto: "\f141";
    $font-Flaticon-tempo: "\f142";
    $font-Flaticon-testa-1: "\f143";
    $font-Flaticon-testa-2: "\f144";
    $font-Flaticon-testa-cappello: "\f145";
    $font-Flaticon-testa-elmo: "\f146";
    $font-Flaticon-torcia: "\f147";
    $font-Flaticon-tridente: "\f148";