	/*
  	Flaticon icon font: Flaticon
  	Creation date: 06/03/2016 04:03
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-accampamento:before { content: "\f100"; }
.flaticon-accetta:before { content: "\f101"; }
.flaticon-alabarda:before { content: "\f102"; }
.flaticon-arco:before { content: "\f103"; }
.flaticon-armatura-borchiata:before { content: "\f104"; }
.flaticon-armatura-completa:before { content: "\f105"; }
.flaticon-armatura-cuoio:before { content: "\f106"; }
.flaticon-armatura-imbottita:before { content: "\f107"; }
.flaticon-armatura-pelle:before { content: "\f108"; }
.flaticon-armatura-piastre:before { content: "\f109"; }
.flaticon-armatura-tunica:before { content: "\f10a"; }
.flaticon-ascia:before { content: "\f10b"; }
.flaticon-attacco:before { content: "\f10c"; }
.flaticon-bussola:before { content: "\f10d"; }
.flaticon-castello:before { content: "\f10e"; }
.flaticon-corpo:before { content: "\f10f"; }
.flaticon-critico:before { content: "\f110"; }
.flaticon-daga:before { content: "\f111"; }
.flaticon-difesa:before { content: "\f112"; }
.flaticon-falchion:before { content: "\f113"; }
.flaticon-gladio:before { content: "\f114"; }
.flaticon-infranto:before { content: "\f115"; }
.flaticon-intero:before { content: "\f116"; }
.flaticon-inventario:before { content: "\f117"; }
.flaticon-kama:before { content: "\f118"; }
.flaticon-katana:before { content: "\f119"; }
.flaticon-kirpan:before { content: "\f11a"; }
.flaticon-lancia:before { content: "\f11b"; }
.flaticon-mana:before { content: "\f11c"; }
.flaticon-manganello:before { content: "\f11d"; }
.flaticon-mano:before { content: "\f11e"; }
.flaticon-mano-occupata:before { content: "\f11f"; }
.flaticon-mappa:before { content: "\f120"; }
.flaticon-martello:before { content: "\f121"; }
.flaticon-mazza:before { content: "\f122"; }
.flaticon-monete:before { content: "\f123"; }
.flaticon-nunchaku:before { content: "\f124"; }
.flaticon-pala:before { content: "\f125"; }
.flaticon-pelle:before { content: "\f126"; }
.flaticon-peso:before { content: "\f127"; }
.flaticon-piccone:before { content: "\f128"; }
.flaticon-pugnale:before { content: "\f129"; }
.flaticon-quest:before { content: "\f12a"; }
.flaticon-roll:before { content: "\f12b"; }
.flaticon-salute:before { content: "\f12c"; }
.flaticon-schivata:before { content: "\f12d"; }
.flaticon-scimitarra:before { content: "\f12e"; }
.flaticon-scudo-asimmetrico:before { content: "\f12f"; }
.flaticon-scudo-buckler:before { content: "\f130"; }
.flaticon-scudo-elfico:before { content: "\f131"; }
.flaticon-scudo-grande:before { content: "\f132"; }
.flaticon-scudo-lama:before { content: "\f133"; }
.flaticon-scudo-medio:before { content: "\f134"; }
.flaticon-scudo-nanico:before { content: "\f135"; }
.flaticon-scudo-piccolo:before { content: "\f136"; }
.flaticon-scudo-rinforzato:before { content: "\f137"; }
.flaticon-scudo-runico:before { content: "\f138"; }
.flaticon-scudo-scaglie:before { content: "\f139"; }
.flaticon-scudo-spinato:before { content: "\f13a"; }
.flaticon-scudo-torre:before { content: "\f13b"; }
.flaticon-scudo-umano:before { content: "\f13c"; }
.flaticon-spada:before { content: "\f13d"; }
.flaticon-spada-bastarda:before { content: "\f13e"; }
.flaticon-spada-incantata:before { content: "\f13f"; }
.flaticon-spadone:before { content: "\f140"; }
.flaticon-stiletto:before { content: "\f141"; }
.flaticon-tempo:before { content: "\f142"; }
.flaticon-testa-1:before { content: "\f143"; }
.flaticon-testa-2:before { content: "\f144"; }
.flaticon-testa-cappello:before { content: "\f145"; }
.flaticon-testa-elmo:before { content: "\f146"; }
.flaticon-torcia:before { content: "\f147"; }
.flaticon-tridente:before { content: "\f148"; }